<div class="card shadow " style="flex-basis: 33.33%;">
    <div class="card-body w-100">
      <div class="card-title d-flex align-items-center gap-2">
        <div id="logo">
          <img
            src="https://picsum.photos/200"
            style="width: 2rem"
            class="rounded"
            alt=""
          />
        </div>
        <div class="fw-bold fs-5">Salesforce Developer</div>
      </div>
      <div class="card-text my-4 w-100">
        Some quick example text ...
        <div class="mt-4 ms-2 d-flex gap-3">
          <div class="badge badge-secondary d-flex align-items-center gap-2">
            <div class="material-icons-outlined">calendar_month</div>
            <div class="text-normal">Full-time</div>
          </div>
          <div class="badge badge-secondary d-flex align-items-center gap-2">
            <div class="material-icons-outlined">query_builder</div>
            <div class="text-normal">50 applied</div>
          </div>
          <div class="badge badge-secondary d-flex align-items-center gap-2">
            <div class="material-icons-outlined">pin_drop</div>
            <div class="text-normal">Remote</div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mx-1 align-items-center">
        <div class="fs-6">&#8377; 30k - 45k/month</div>
        <div><button class="btn btn-success">Apply Now</button></div>
      </div>
    </div>
  </div>
  