<div class="left-side-bar overlay-menu-mobile">
    <ul class="menus-list">
      <!-- <span class="item-label pl-2 cursor-pointer" style="position: absolute; top: 45%;"
        [ngClass]="sidebarOpened ? 'l_25' : 'l_0'" title="Retry" *ngIf="sideOptions?.retry && !(menusList?.length)"
        (click)="getMenusList()"><em class="mr-1 fa fa-repeat"></em>Retry</span> -->
      <ng-container *ngFor='let eachItem of menusList'>
        <!-- <li (click)="onItemClick(eachItem,menusList)"  -->
          <li>
          <div class="side-menu-item" >
            <span class="material-icons-outlined closeicon cursor-pointer invert">
              close
            </span>
            <span class="item-label" title="{{eachItem?.name}}">{{eachItem.name}}</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>