<div class="left-side-bar" [ngStyle]="{'width': hideSideBar ? '4rem' : '11rem'}">
    <ul class="menus-list">
      <ng-container *ngFor='let eachItem of menusList'>
          <li [class.active-item]="eachItem.route && router.url.includes(eachItem.route)" (click)="onItemClick(eachItem)">
          <div class="side-menu-item">
            <span class="material-icons-outlined cursor-pointer">
              {{eachItem?.icon}}
            </span>
            <span class="item-label" title="{{eachItem?.name}}" *ngIf="!hideSideBar">{{eachItem.name}}</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>