.font-required {
  font-family: "Montserrat";
}
.description {
  font-size: 1vw;
  color: black;
  font-style: normal;
  font-family: "Source Sans 3";
  font-weight: 600;
}

.green-color {
  color: #00a884;
}
.bg-black-color {
  background: rgba(33, 39, 52, 1);
  color: white;
}
