/* You can add global styles to this file, and also import other style files */
@import "~mdb-ui-kit/css/mdb.min.css";
@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+3:wght@500;600&display=swap");
@import "material-symbols";

:root {
  //colors
  --brandPrimaryBlue: #1f79bb;
  --brandDarkGray: #484a4b;
  --brandBlue: #239bdb;
  --brandRed: #c4261a;
  --brandYellow: #ffed34;
  --brandGreen: #249447;
  --brandTan: #cfc096;
  --brandRockGray: #989c97;
  --brandTowerBeige: #9b9a6d;
  --brandAngellHallAsh: #a79d96;
  --blue: #0179a8;
  --indigo: #2865dc;
  --purple: #5f4b8b;
  --pink: #b76ba3;
  --red: #ea6759;
  --orange: #ec935e;
  --yellow: #f7c46c;
  --green: #a7c796;
  --teal: #00a28a;
  --cyan: #3686a0;
  --white: #fff;
  --gray: #888c9b;
  --gray-dark: #222230;
  --primary: #2865dc;
  --secondary: #f6f7f9;
  --success: #00a28a;
  --info: #0179a8;
  --warning: #f7c46c;
  --danger: #b76ba3;
  --light: #f6f7f9;
  --dark: #222230;
  //Elogbook-colors
  --elogbook-background: #1b3448;
  --elogbook-primaryColor: #d4d9dd;
  --elogbook-secondaryColor: #ffffff;
  --elogbook-btnColor: #0f62fe;
  //variable-inputs
  --navbarHeight: 3rem;
  --breadcrumbHeight: 3rem;
  --settingsBreadcrumbHeight: 6rem;
  --breadcrumbtitle: 1.2rem;
  --miniSidebarWidth: 0;
  --sidebarWidth: 14rem;
  --appSidebarWidth: 14rem;
  --filterWidth: 20rem;
  --subSidebarWidth: 14rem;
  --mainContentPadding: 0.5rem;
  --font-family-base: "Roboto-Regular";
  --font-family-monospace: monospace;
  --primaryBtnColor: #0f62fe;
  --secondaryBtnColor: #393939;
  --primaryBtnHoverColor: #0353e9;
  --secondaryBtnHoverColor: #4c4c4c;
  --primaryBtnFocusColor: #0f62fe;
  --secondaryBtnFocusColor: #0f62fe;
  --nativeAppHeaderBG: #0956a4;
  --pipelineRhombus: var(--c, #efefef) calc(49.5% - 1px),
    #999999 calc(49.5% - 1px), #999999 49.5%, transparent 50%;
  --appSideBarItemHoverBG: #ffffff40;
  --expSidebarWidth: 13.2rem;
  --colSidebarWidth: 4.5rem;
  --nativeAppHeaderColor: "white";
  --iframeOutletHeight: 100vh;
  --iframeOutletWidth: 100vw;
  --appBgColor: #dfe3e4;
  --alarms-popover-width: 512px;
  --tableWrapHeight: 0px;
}

$appBgColor: var(--appBgColor);
$fontFamilyBase: var(--font-family-base);
$fontFamilyMonospace: var(--font-family-monospace);
$navbarHeight: var(--navbarHeight);

.whole-page.dark_theme {
  .left-side-bar {
    box-shadow: -1px 8px 4px 0px #eaeaea;

    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    position: fixed;
    height: calc(100% - #{$navbarHeight});
    background-color: #1b1f23;
    color: #ffffff;
    z-index: 1030;
    top: $navbarHeight;

    ul {
      list-style-type: none;
    }

    .menus-list {
      padding-left: 0px;
      padding-top: 16px;
      overflow-y: auto;
      height: calc(100vh - var(--navbarHeight));
      padding-bottom: 0;
      margin-bottom: 0;

      li.active-item {
        border-left: 5px solid #0f62fe;
        background-color: #5c5c5c;
      }

      li:hover {
        background-color: #5c5c5c;
      }

      li.active-item .side-menu-item {
        padding-left: 15px;
      }

      .side-menu-item {
        padding: 10px 8px;
        cursor: pointer;
        margin: auto;
        padding-left: 20px;
        margin-top: 1rem;

        .item-label {
          padding-right: 10px;
          margin-left: 8px;
          font-size: 0.83rem;
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
          width: 7.2rem;
          max-width: 7.2rem;
          display: inline-block;
          position: relative;
        }
      }
    }
  }

  .app-header {
    background-color: #1b1f23;
    z-index: 1030;
    color: #ffffff;
    box-shadow: 0 3px 3px -2px #0003, 0 3px 4px #00000024, 0 1px 8px #0000001f !important;

    .top-bar {
      height: var(--navbarHeight);
      width: 100%;
      .logo {
        display: flex;
        margin-bottom: 0;
        padding: 0 0.5rem 0 1rem;
        height: 64px;
        min-width: 30rem;
        font-size: 1.25rem;
        align-items: center;
        max-width: 52rem;
      }
      .nav-list {
        display: flex;
        align-items: center;
        flex: 1;
        .search {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 400px !important;
        }
        .nav-icons-list {
          margin-left: auto;
          display: flex;
          align-items: center;
          padding: 0;
        }
      }
    }
  }

  .main-playground {
    background-color: #000000;
    height: calc(100vh - var(--navbarHeight));
  }

  input {
    background-color: #000000;
    border: none;
  }
}

.whole-page.light_theme {
  .left-side-bar {
    box-shadow: -1px 8px 4px 0px #3e3e3e;

    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    position: fixed;
    height: calc(100% - #{$navbarHeight});
    background-color: #fcfcff;
    color: #171717;
    z-index: 1030;
    top: $navbarHeight;

    ul {
      list-style-type: none;
    }

    .menus-list {
      padding-left: 0px;
      padding-top: 16px;
      overflow-y: auto;
      height: calc(100vh - var(--navbarHeight));
      padding-bottom: 0;
      margin-bottom: 0;

      li.active-item {
        border-left: 5px solid #0f62fe;
        background-color: #5c5c5c;
      }

      li:hover {
        background-color: #5c5c5c;
      }

      li.active-item .side-menu-item {
        padding-left: 15px;
      }

      .side-menu-item {
        padding: 10px 8px;
        cursor: pointer;
        margin: auto;
        padding-left: 20px;
        margin-top: 1rem;

        .item-label {
          padding-right: 10px;
          margin-left: 8px;
          font-size: 0.83rem;
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
          width: 7.2rem;
          max-width: 7.2rem;
          display: inline-block;
          position: relative;
        }
      }
    }
  }

  .app-header {
    position: relative;
    z-index: 1030;
    background-color: #fcfcff;
    color: #1b1f23;
    box-shadow: 0 3px 3px -2px #0003, 0 3px 4px #00000024, 0 1px 8px #0000001f !important;

    .top-bar {
      height: var(--navbarHeight);
      width: 100%;
      .logo {
        display: flex;
        margin-bottom: 0;
        padding: 0 0.5rem 0 1rem;
        height: 64px;
        min-width: 30rem;
        font-size: 1.25rem;
        align-items: center;
        max-width: 52rem;
      }
      .nav-list {
        display: flex;
        align-items: center;
        flex: 1;
        .search {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 400px !important;
        }
        .nav-icons-list {
          margin-left: auto;
          display: flex;
          align-items: center;
          padding: 0;
        }
      }
    }
  }
  .main-playground {
    background-color: #f2eeee;
    height: calc(100vh - var(--navbarHeight));
  }
  input {
    background-color: #bbbbbb;
    border: none;
  }
}

.logo-image {
  width: 167px;
}
.cursor-pointer {
  cursor: pointer;
}

.element-font-family {
  font-family: "Montserrat";
}


